html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


.header {
    background-color: #2f9e41;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    height: 70px;
}

.logo {
    width: 63px;
    height: 52px;
}

.menu {
    display: flex;
    flex-direction: row;
}

.user {
    display: flex;
    flex-direction: row;
}
.user-welcome {
    display: flex;
    flex-direction: column;
}

.welcome-message {
    font-size:14px;
    color: #fff;
    text-align: right;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.welcome-name {
    font-size:14px;
    font-weight: bold;
    color: #fff;
    text-align: right;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    flex-wrap: break-word;
}



.user-avatar {
    margin: 0.3em 0 0 0.5em;
}


.body {

}

.carousel{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.banner {
    height: 450px;
}

.body-menu {

}

.footer {

}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .flex > div {
    flex: 1 1 300px;
    margin: 0 5px 5px 0;
  }

.opt {
    display: flex;
    flex-direction: row;
}

.opt-img {
    padding: 0;
    float: left;
    margin-right: -45px;
    z-index: -1;
}

.opt-description {
    font-size:14px;
    color: #fff;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.opt-title{
    font-size:1.1em;
    width: 50%;
    padding: 0.5em;
    font-weight: bold;
    color: #fff;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    flex-wrap: break-word;
}

.red {
    background-color:#CA2C2D; 
}

.light-blue {
    background-color:#337ab7
}


.yellow {
    background-color:#E28400
}

.dark-blue {
    background-color:#2E7EA3
}

.grey {
    background-color:#818f96
}